# created by virtualenv automatically

# App conf
darshellclock/darclock.cfg
darclock.cfg

# Generics
bin/
lib/
__pycache__/
dist/
darshellclock.egg-info/

# Environments
pyvenv.cfg

# VS .env
.env

# TODO revoir si nécessaire avec les autres modif et changer aussi settings.json !!
.vscode/

# debug main for vscode quicklaunch
debugmain.py
